.el-dialog__header {
  border-bottom: 1px solid #ebeef5;
}

.el-dialog__title {
  font-size: 14px;
}

.el-form-item__label {
  font-size: 12px;
}

.el-dialog__footer {
  border-top: 1px solid #ebeef5;
  padding: 10px 20px;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #EBEEF5;
    text-align: center;
}
 label.el-form-item__label{
    width: 150px;
    // font-size: 14px;
    // color: #3B3B3C;
    // font-weight:600;
    font-size: 14px;
    color: #606266;
    font-weight: normal;
  }
 .el-form-item__content{
     width: 100%;
 }
 .login input.el-input__inner{
     background: none!important;
     width: 284px;
     height: 40px;
     padding: 0 5px;
     margin-bottom:10px;
     margin-top: 10px;
     border-radius: 50px;
     position: relative;
     color: #FFFFFF;
     border: rgba(255,255,255,0.2) 2px solid !important;
 }
 .login .el-form-item__error{
     padding-left: 10px;
 }
.navbar .el-icon-s-custom {
    margin-right: 5px;
}

//导航栏

ul.el-menu.el-menu--inline li.el-menu-item-group{
    height: 45px;
}
ul.el-menu.el-menu--inline li.el-menu-item-group ul li.el-menu-item{
    padding:0 !important;
}
ul.el-menu.el-menu--inline li.el-menu-item-group ul li.el-menu-item span{
    margin-left: 10px;
}

.sidebar-container .el-menu .el-menu-item.is-active{
     border-left: 5px solid #409eff !important;
     margin-left: -4px;
     position: absolute;
     z-index: 999;
}
.sidebar-container .el-menu .el-menu-item.homeactive.is-active{
     border-left: 8px solid #409eff !important;
}
li.el-submenu.is-opened ul.el-menu.el-menu--inline, li.el-submenu.is-active.is-opened ul.el-menu.el-menu--inline{
    border-left: 3px solid #FFFFFF;
    margin-left:30px;
}
.el-dialog__header{   
background: #303133;
}
.el-dialog__title{
    color: #FFFFFF;
}
.el-dialog__headerbtn .el-dialog__close{
    color: #FFFFFF;
}

.suppliermanage .el-table.tab tr {
    background-color: #e4e8ec;
}
button.el-button.headbtn.el-button--success{
    position: absolute;
    right: 30px;
}
.el-dialog__wrapper.child .el-dialog{
    padding-bottom: 30px;
}
form.el-form.demo-form-inline .el-form-item .el-form-item__content .el-input{
    width: 200px;
}
form.el-form.demo-form-inline .el-form-item .el-form-item__label{
    text-align: center;
}
form.el-form.demo-form-inline .el-form-item .el-form-item__content .el-input input.el-input__inner{
    width: 200px;
}
ul.el-scrollbar__view.el-select-dropdown__list li.el-select-dropdown__item {
   padding-left: 8px;
}
.el-table thead.is-group th{
    text-align: center;
}
.el-dialog__body{
    max-height: 500px;
    // max-height: 350px;
    overflow: auto;
}

.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange {
    width: 280px;
}
.down button.el-button.el-button--primary.el-button--small.is-circle  i.el-icon-search,i.el-icon-download,i.el-icon-plus,i.el-icon-refresh-right,i.el-icon-set-up{
    font-size: 16px;
}
 ul.el-scrollbar__view.el-select-dropdown__list{
    width: 100%;
}
 li.el-select-dropdown__item{
    width: 100%;
}
.formtable .el-input--mini .el-input__inner{
  height: 40px;
}
.el-input-number.is-controls-right[class*=mini] [class*=increase]{
    line-height:20px;
}
.inputtext .el-input-number.is-controls-right[class*=mini] [class*=increase]{
    line-height: 12px;
}
.el-input-number--mini .el-input-number__decrease{
    font-size: 16px;
}
.el-input-number.is-controls-right .el-input__inner {
    padding-left: 0px;
    padding-right: 30px;
}
ul.el-menu.el-menu--inline li.el-menu-item-group{
    ul li{
        max-width: 200px;
    }
}
.time .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date{
    width: 150px;
}
ul.el-dropdown-menu li.el-dropdown-menu__item{
     width: auto!important;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
    border-left: none;
    color: #409EFF;
    font-size: 20px;
    background: none;
}
.el-radio-button:first-child .el-radio-button__inner{
    border-left: none;
    color: #409EFF;
    font-size: 20px;
}
.el-radio-button__inner{
    border: none;
}
ul.el-scrollbar__view.el-select-dropdown__list li{
    width: auto;
    float: none;
}
.el-calendar__header{
    padding: 5px 20px;
}
.el-calendar__body {
    padding:5px 20px 3px;
    line-height:10px;
}
.el-calendar-table thead th{
    padding: 10px 0;
    text-align: center;
}
.el-calendar-table .el-calendar-day{
    height: 75px;
}
.el-tabs__item:focus.is-active.is-focus:not(:active) {
     -webkit-box-shadow: none;
      box-shadow: none;
}
// .el-popover.el-popper{
//     min-height: 70px;
// }
.childcontentadd .el-form-item__content{
    width: 230px;
    display: flex;
}
.supplierbasic_form .el-form-item__content{
    width:auto
}
.supplierbasic_form .el-form--inline .el-form-item{
    width:50%;
    margin-right:0px;
    padding:20px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
}
.supplierbasic_form form.el-form.demo-form-inline.el-form--inline{
    // border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.supplierbasic_form .el-form-item:last-child{
     border-bottom:none;
}
.supplierbasic_form.linkman{
    form.el-form.demo-form-inline.el-form--inline{
        .el-form-item:last-child{
            width:100%;
            .el-form-item__content{
                width:70%;
            }
            select.selectstatus.width{
                width: 100%;
            }
        }
        .el-form-item:nth-child(9){
            width:97%;
        }
    }
}
.supplierbasic_form.address{
    form.el-form.demo-form-inline.el-form--inline{
        .el-form-item.adr{
            width:97%;
           .el-form-item__content{
                width:71%;
                .el-input{
                    width: 100%;
                    input.el-input__inner{
                        width: 100%;
                    }
                }
            }
        }
        
    }
}
.base_wrap.clearfix.finished{
    form.el-form.demo-form-inline.el-form--inline{
        .el-form-item {
            width: 47%;
        }
        .el-form-item.message{
            width: 70%;
        }
        .el-form-item.whole{
            width:97%;
           .el-form-item__content{
                width:62%;
                .el-input{
                    width: 100%;
                    input.el-input__inner{
                        width: 100%;
                    }
                }
            }
        }
        
    }
}

// 物料主数据——成品
.formPart {
    .base_wrap {
        form.el-form.demo-ruleForm.el-form--inline {
            width: 100%;
            .el-form-item {
                width: 45%;
                &.whole {
                    width: 100%;
                    .el-form-item__content {
                        width: 30%;
                        .el-input {
                            width: 100%;
                            input.el-input__inner{
                                width: 100%;
                            }
                        }
                    }
                }
               
            }
        }
    }
}
form.el-form.demo-ruleForm.fl.tag{
    .el-form-item{
        width: 100%!important;
    }
}